@import './common.scss';

header {
    height: px2rem(363px);
    background-image: url(../assets/images/default.jpg);
}

.box {
    width: px2rem(10px);
    ::placeholder {
        color: blue;
    }
}

.wrapper {
    font-size: px2rem(32px);
}
