@import "./styles/reset";
@import "./styles/variable";
@import "./styles/mixin";

// 行内元素水平居中
.verticalCenter() {
    display: inline-block;
    vertical-align: middle;
}

// 过渡效果
.transition(@s: .3s) {
    transition: all .3s;
}

.xqtree * {
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
    // transition: all .3s;
}

.xqtree {
    color: @fontColorDefault;
    font-size: @fontSizeDefault;
    font-family: @fontDefault;

    &-node {
        position: relative;
        .ellipsis();

        & ul {
            padding-left: 20px;
            overflow: hidden;
            .transition();
        }

        // 复选框
        &-checkbox {
            width: 24px;
            height: 24px;
            .verticalCenter();
            cursor: pointer;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100%;
            .transition();
        }

        &-checkbox-select-false {
            background-image: url(./images/checkbox.png);
            background-image: url(./images/xqtree-sprites.png);
            background-position: 0px 0px;
        }

        &-checkbox-select-part {
            background-image: url(./images/checkbox-select-part.png);
            background-image: url(./images/xqtree-sprites.png);
            background-position: 0px -48px;
        }

        &-checkbox-select-true {
            background-image: url(./images/checkbox-select.png);
            background-image: url(./images/xqtree-sprites.png);
            background-position: 0px -24px;
        }

        // 树节点链接
        &-link {
            .verticalCenter();
            text-decoration: none;
            color: @fontColorDefault;
            padding-left: 5px;
            padding-right: 5px;

            &:hover {
                color: @fontColorHover;

                &~.xqtree-node-switch-close {
                    background-image: url(./images/open-close-select.png);
                    background-image: url(./images/xqtree-sprites.png);
                    background-position: 0px -107px;
                }
            }
        }

        &-link-open {
            color: @fontColorActive;
        }

        // 开关
        &-switch {
            .verticalCenter();
            width: 24px;
            height: 8px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 24px;
            .transition();
        }

        &-switch-close {
            background-position: 0 -11px;
            background-image: url(./images/open-close.png);
            background-image: url(./images/xqtree-sprites.png);
            background-position: 0px -83px;
        }

        &-switch-open {
            background-position: 0 -4px;
            background-image: url(./images/open-close-select.png);
            background-image: url(./images/xqtree-sprites.png);
            background-position: 0px -100px;
        }
    }
}
