.app1 {
    width: 750px;
    color: red;
}
.app2 .aa {
    width: 100%;
}
.app3 {
    width: 100%;
}
.app4 {
    width: 100%;
}
::placeholder {
    color: red;
    box-shadow: 1px 1px 1px red;
    border-radius: 5px;
}
